body {
  background-color: rgb(144, 137, 171);
}

h1 {
  color: darkblue;
  text-align: center;
}

.questionfeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: lightblue;
  border: solid black;
  border-radius: 2rem;
  margin: 15px;
  text-align: center;
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_bookmark {
  font-size: 2em;
  position: absolute;
  top: -20px;
  right: 30px;
  width: 8%;
}

.card_answer {
  background-color: lightblue;
  border: solid black;
  border-radius: 2rem;
  width: 25%;
}

.card_answer:hover {
  background-color: white;
  border: solid black;
  border-radius: 2rem;
  width: 25%;
}

.image {
  width: 10%;
}
footer {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  padding: 20px;
}
